.logo {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(30);
}
h2 {
  color: $primary-color;
  text-transform: uppercase;
  margin: rem-calc(0 0 30 0);
}
h2:after {
  content: " ";
  display: block;
  background-color: $primary-color;
  width: rem-calc(55);
  height: rem-calc(6);
  margin: 0 auto;
}

h3 {
  color: $primary-color;
}

/*** Panel for Rooms **/
.room-panel {
  @include panel(
    $bg       :$silver,
    $padding  :rem-calc(20),
    $adjust   :false,
    $border    :false
  );
   
  text-transform: uppercase;  
  color: $primary-color;  
}

/** Buttons **/
.custom-button {
  @include button(
    $padding      :rem-calc(10),
    $bg           :$secondary-color,
    $radius       :true
  );
  font-size: rem-calc(16);  
  border-radius: rem-calc(10)!important;
}

footer {
  background-color: $primary-color;
  padding-top: rem-calc(15);
  
  p, a {
    color: $white;
  }
  
  p.reserved {
    background-color: $darkblue;
    margin: 0;
    padding: rem-calc(10);
  }
  
  h4 {
    text-transform: uppercase;
    color: $white;
  }
  
  .footer-nav {
    @include side-nav(
      $divider-color      :$white,
      $font-size          :rem-calc(16),
      $link-color         :$white,
      $link-color-active  :$secondary-color,
      $link-color-hover   :$white,
      $link-bg-hover      :$secondary-color
    );
      
      li {
        margin: rem-calc(0);
        
        a {
          text-transform: uppercase;
        }
      }
      
      
      input[type="text"].newsletter {
        @include grid-column($columns:12);
        box-shadow: none;
      }
  }
}